TABLE {
	FONT: 100% Arial, Helvetica, sans-serif
}
TD {
	FONT: 100% Arial, Helvetica, sans-serif
}
TABLE {
	MARGIN: 1em 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TH {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0.5em
}
THEAD TBODY TD {
    BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0.5em;
	BACKGROUND: url(tr_back.gif) #328aa4 repeat-x; COLOR: #fff
}
}

TD {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0.5em
}
TH {
	BACKGROUND: url(tr_back.gif) #328aa4 repeat-x; COLOR: #fff
}
TD {
	BACKGROUND: #e5f1f4
}
TR.even TD {
	BACKGROUND: #e5f1f4
}
TR.odd TD {
	BACKGROUND: #f8fbfc
}
TH.over {
	BACKGROUND: #4a98af
}
TR.even TH.over {
	BACKGROUND: #4a98af
}
TR.odd TH.over {
	BACKGROUND: #4a98af
}
TH.down {
	BACKGROUND: #bce774
}
TR.even TH.down {
	BACKGROUND: #bce774
}
TR.odd TH.down {
	BACKGROUND: #bce774
}
TH.selected {
	
}
TR.even TH.selected {
	
}
TR.odd TH.selected {
	
}
TD.over {
	BACKGROUND: #ecfbd4
}
TR.even TD.over {
	BACKGROUND: #ecfbd4
}
TR.odd TD.over {
	BACKGROUND: #ecfbd4
}
TD.down {
	BACKGROUND: #bce774; COLOR: #fff
}
TR.even TD.down {
	BACKGROUND: #bce774; COLOR: #fff
}
TR.odd TD.down {
	BACKGROUND: #bce774; COLOR: #fff
}
TD.selected {
	BACKGROUND: #bce774; COLOR: #555
}
TR.even TD.selected {
	BACKGROUND: #bce774; COLOR: #555
}
TR.odd TD.selected {
	BACKGROUND: #bce774; COLOR: #555
}
TD.empty {
	BACKGROUND: #fff
}
TR.odd TD.empty {
	BACKGROUND: #fff
}
TR.even TD.empty {
	BACKGROUND: #fff
}
